<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <h1>Search</h1>

        <!-- Alert message -->
        <div class="container">
            <%- include ('../partials/message.ejs') %>
        </div>

        <!--Main functionality-->
        <% let flights = results.data; %>
        <table class="table">
        <thead>
            <tr>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(flights => 
            { %>
            <tr>
                <td><%= flights.dep_icao %></td>
                <td><%= flights.arr_icao %></td>
                <td><%= flights.status %></td>
            </tr>
            <% }); %>
        </tbody>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>