<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/menu') %>

<div class="container">
    <h1><%- user %>'s Trips</h1>
    <%- include ('../partials/calendar') %>
</div>

<%- include ('../partials/footer') %>
