<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

    <main>
        <div class="container">
            <!--  -->
            <h1>Search Results</h1>

            <div class="container">
                <%- include ('../partials/message.ejs') %>
            </div>

            <div class="container">
                <% if (data.weather.data !== -1) { %>
                    <% if (data.weather.format==="json" ) { %>
                        <p> <%= JSON.stringify(data.weather.data) %> </p>
                    <% } %>
                    <% if (data.weather.format==="html" ) { %>
                        <%- data.weather.data %>
                    <% } %>
                <% } %>
                <!--Flight results-->
                <% let flights = data.flight_data.data; %>
                <% if (flights != null)
                { %>
                <table class="table">
                <thead>
                    <tr>
                        <th>Flight Date</th>
                        <th>Departure</th>
                        <th>Arrival</th>
                        <th>Airline</th>
                    </tr>
                </thead>
                <tbody>
                    <% flights.forEach(flight => 
                    { %>
                    <tr>
                        <td><%= flight.flight_date %></td>
                        <td><%= flight.departure.airport %></td>
                        <td><%= flight.arrival.airport %></td>
                        <td><%= flight.airline.name %></td>
                    </tr>
                    <% }); %>
                </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </main>

<%- include ('../partials/footer') %>