<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

    <main>
        <!--Alert message-->
        <% if(error === false){ %>
        <!--Main functionality-->
        <div class="container">
            <h1>Weather in <%= location.destination.city %>, <%= location.destination.country %></h1>
            <div class="container">
                <h2>Temperature: <%= data.weather.avgTemp.C %>&#8451;, <%= data.weather.avgTemp.F %>&#8457; </h2>
                <h2>Precipitation: <%= data.weather.avgPrecip.mm %>mm, <%= data.weather.avgPrecip.in %>in</h2>
                <br>
            <!--Flight results-->
            
            <% if (data.flights.length <= 0) { %>
                <h3>We're sorry, there are no flights to <%= location.destination.city %> currently scheduled!</h3>
            <% } else { %>
                <h2> Available Flights</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Flight Date</th>
                            <th>Flight Time</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Airline</th>
                            <th>Flight Number</th>
                            <!-- empty so bar extends correctly -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- filter data in backend to show only user-relevant results -->
                        <% data.flights.forEach(flight => { %>
                        <tr>
                            <% let suffix = flight.depTime >= 12 ? "PM":"AM"; 
                            displayTime = ((parseInt(flight.depTime) + 11) % 12 + 1) + ":" + flight.depTime.split(":")[1] +  " " + suffix; %>
                            <td><%= flight.depDate %></td>
                            <td><%=  displayTime %></td>
                            <td><%= flight.depAirport %></td>
                            <td><%= flight.arrAirport %></td>
                            <td><%= flight.airline %></td>
                            <td><%= flight.flightNumber %></td>
                        
                            <td>
                                <!-- TODO finalize filtering data to add to addToCalendar -->
                                <form action="/addFlight" method="POST">
                                    <input type="date" class="form-control" id="flightDate" name="flightDate" value=<%- `"${flight.depDate}"` %> hidden>
                                    <input type="time" class="form-control" id="flightTime" name="flightTime" value=<%- `"${flight.depTime}"` %> hidden>
                                    <input type="text" class="form-control" id="airpot" name="airport" value=<%- `"${flight.arrAirport}"` %> hidden>
                                    <input type="text" class="form-control" id="airline" name="airline" value=<%- `"${flight.airline}"` %> hidden>
                                    <input type="text" class="form-control" id="country" name="country" value=<%- `"${location.destination.country}"` %> hidden>
                                    <input type="text" class="form-control" id="city" name="city" value=<%- `"${location.destination.city}"` %> hidden>
                                    <input type="text" class="form-control" id="flightNumber" name="flightNumber" value=<%- `"${flight.flightNumber}"` %> hidden>
                                    <button type = "submit" class="btn btn-primary" id="submit_button" >Add to Calendar</button>
                                </form>
                            </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
        <% } %>
    </main>

<%- include ('../partials/footer') %>